
.body{
    display: flex;
    flex-direction: row;
    justify-content:center;
    
}
  .big-container{
    width: 80%; 
    height: 60%;
    border: 2px solid #f7f5f5;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    box-shadow:5px 5px 10px #aaaaaa;
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 50%;
    
  }
  .img-container{
    width: 50%;
  }
  .qr-form{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
  .qr-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
  }
  .text-center{
    text-align: center;
  }
  #error{
    color: red;
  }
  #scan-text{
    color: blue;
  }
  #form-btn{
    background-color: rgb(47, 188, 47);
    color: white;
    border-color: aliceblue;
  }

  #form-btn:hover{
    background-color: rgb(9, 250, 9);
    color:deeppink;
  }
  #reset-btn{
    color:red;
    background-color:whitesmoke;
    border-color: aliceblue;
  }


  @media only screen and (max-width: 800px) {
    .big-container{
      width: 100%; 
      display: flex;
      flex-direction: column;
      margin-top: 0;
      border:none;
      box-shadow:none;
    }
    .img-container{
      width: 100%;
      height: 50%;
    }
    .container{
      width: 100%;
      height: 50%;
    }
  }
