
.container{
    position: absolute;
    width: 33.33%;
    height:auto;
    border: 2px solid whitesmoke;
    top:30.33%;
    left:30.33%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.qr-form{
    display: flex;
}
#error{
    color:red;
}
#qr-code{
    display: none;
}